.ShareBar {
    list-style-type: none;
    padding: 0;
}
.ShareBar li {
    display: inline-block;
    margin: 0.25rem;
}
.ShareBar svg path {
    fill: black;
    transition: fill 0.3s;
}
.ShareBar svg:hover path {
    fill: white;
}