a:link {
    color: black;
}
a:visited {
    color: black;
}
.link {
    margin: 2rem 0.25rem;
    display: block;
    border: 1px solid black;
    padding: 0.6rem 8rem;
    font-size: 0.75rem;
    text-decoration: none;
    border-radius: 3rem;
}
